
/*Imoveis*/
h2{
    font-weight: bold;
    color: rgb(72, 72, 72);
}
.cardsContainer {
    margin-top: 40px;
    width: 100%;  
    /*border: 1px solid green;*/
    display: flex;
    flex-direction: column;
    
}
.cardEstadia{
    display: flex;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #F1ECFF;
}
.imgEstadia{
    width: 300px;
    height: 200px;
    border-radius: 8px;
    border: 3px solid #F1ECFF;
}
.carrouselEstadia{
    width: 300px;
    height: 200px;
}
.detalhesEstadia{
    box-sizing: border-box;
    padding-left: 20px;
    width: auto;
}
.descricao{ 
    height: 85%;
}
.preco{
    font-size: 18px;
    height: 15%;
    width: 100%;
    text-align: right;
}

.mapa{
    position: fixed;
    right: 0;
    height: 100%;
    width: 100%;
    padding: 0;
}

#map {
    height: 100%;
}

.pagina{
    text-align: center;
    color: rgb(72, 72, 72);
    
}
